<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Galaktika.EAM_external_Connection" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\MSSQLLocalDB;integrated security=SSPI;initial catalog=Galaktika.EAM_external" />
        <add name="localhost_Galaktika.EAM.Ver01_Connection" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\MSSQLLocalDB;integrated security=SSPI;initial catalog=Galaktika.EAM.Ver01" />
    </connectionStrings>
</configuration>